.about {
    width: 100%;
    height: 100vh;
    background: url("../images/about-page.jpg") no-repeat center / cover;
    background-blend-mode: darken;
    display: flex;
    position: relative;
    padding: 30px 0;
}

.about:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
}

.item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 999;
    color: #ffffff;
}

.about .left {
    width: 50%;
    height: 100%;
}

.about .left .img {
    width: 100%;
    height: 467px;
    border-radius: 50%;
    object-fit: cover;
}

.right {
    display: flex;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
    width: 40%;
}

.right-left {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.card {
    display: flex;
    align-items: center;
}

.card i {
    font-size: 25px;
    margin-right: 10px;
}

.card h3 {
    font-size: 20px;
    font-weight: 900;
}

.right-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-right h3 {
    font-size: 25px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .about {
        display: block;
    }
    .item {
        height: 88vh;
    }
    .about .left {
        width: 50%;
        display: flex;
        align-items: center;
    }
    .about .left .img {
        height: 300px;
    }
    .about .right {
        flex-wrap: nowrap;
    }
    .right-right {
        text-align: right;
        gap: 22px;
    }
    .right-right h3 {
        font-size: 22px;
    }
}

@media screen and (max-width: 425px) {
    .item {
        justify-content: center;
        flex-wrap: wrap;
    }
    .about .left {
        width: 80%;
        height: 50%;
    }
    .about .left .img {
        height: 245px;
    }
    .about .right {
        width: 70%;
    }
}

@media screen and (max-width: 375px) {
    .about .left .img {
        height: 230px;
    }
    .about .right {
        width: 78%;
    }
}

@media screen and (max-width: 320px) {
    .about .left {
        width: 100%;
    }
    .about .right {
        width: 100%;
    }
}